body {
  background: #F9F9F9; }

#kefu {
  width: 74px;
  height: 80px;
  background: #67CAFF;
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%; }
  #kefu img {
    margin: 10px 0 5px 25px; }
  #kefu p {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 100; }

#header {
  height: 133px;
  width: 100%; }
  #header #header_top {
    box-shadow: -3px -3px 2px 0 #ccc,3px 2px 2px 0 #ccc;
    height: 30px;
    width: 100%; }
    #header #header_top div {
      height: 30px; }
      #header #header_top div > p {
        float: left;
        font-size: 12px;
        color: #737373;
        margin-right: 15px;
        line-height: 30px; }
        #header #header_top div > p a {
          color: #337AB2; }
        #header #header_top div > p > span {
          float: left;
          margin: 0 5px; }
        #header #header_top div > p #longint {
          display: none;
          width: 120px;
          margin: 0;
          padding: 0;
          float: left; }
      #header #header_top div ul li {
        position: relative;
        float: left;
        font-size: 12px;
        color: #737373;
        margin-right: 15px;
        line-height: 30px; }
        #header #header_top div ul li span {
          color: #337AB2; }
        #header #header_top div ul li #cat {
          height: auto;
          border: 1px solid #BFBFBF;
          position: absolute;
          width: 320px;
          z-index: 10;
          display: none; }
          #header #header_top div ul li #cat li {
            margin: 0; }
          #header #header_top div ul li #cat #li1 {
            background: #F5F5F5;
            width: 320px;
            height: 26px; }
            #header #header_top div ul li #cat #li1 h1 {
              font-weight: bold;
              font-size: 13px;
              text-indent: 2em;
              color: #000000;
              line-height: 26px; }
          #header #header_top div ul li #cat #li2 {
            width: 320px;
            background: #fff; }
            #header #header_top div ul li #cat #li2 ul {
              width: 320px; }
              #header #header_top div ul li #cat #li2 ul li {
                width: 320px;
                height: 66px;
                padding: 7px 13px;
                box-sizing: border-box;
                border-bottom: 1px  dashed #CCCCCC; }
                #header #header_top div ul li #cat #li2 ul li img {
                  width: 50px;
                  height: 50px; }
                #header #header_top div ul li #cat #li2 ul li .pp {
                  display: inline-block; }
                  #header #header_top div ul li #cat #li2 ul li .pp span {
                    color: #000000; }
                  #header #header_top div ul li #cat #li2 ul li .pp .sp1 {
                    font-weight: bold;
                    color: #D70000; }
                  #header #header_top div ul li #cat #li2 ul li .pp .sp2 {
                    margin-left: 30px; }
          #header #header_top div ul li #cat #li3 {
            width: 320px;
            height: 61px;
            z-index: 5;
            background: #F5F5F5; }
            #header #header_top div ul li #cat #li3 p {
              margin-left: 150px;
              font-size: 12px; }
              #header #header_top div ul li #cat #li3 p span {
                color: #D70000;
                font-weight: bold; }
              #header #header_top div ul li #cat #li3 p input {
                height: 21px;
                width: 105px;
                background: #F56531;
                border-radius: 10px;
                color: #fff;
                font-weight: #fff; }
      #header #header_top div ul #fuwu {
        position: relative; }
        #header #header_top div ul #fuwu div {
          display: none;
          position: absolute;
          background: #F5F5F5;
          width: 67px;
          height: 68px;
          border: 1px solid #EEEEEE; }
          #header #header_top div ul #fuwu div span {
            display: block;
            margin-left: 8px; }
  #header #header_bottom {
    height: 103px;
    width: 100%; }
    #header #header_bottom div {
      height: 103px; }
      #header #header_bottom div #header_bottom_l {
        width: 220px;
        height: 103px;
        float: left; }
        #header #header_bottom div #header_bottom_l img {
          margin: 34px 0 0 16px; }
      #header #header_bottom div #header_bottom_c {
        width: 550px;
        height: 103px;
        float: left; }
        #header #header_bottom div #header_bottom_c div {
          width: 540px;
          height: 74px;
          border: 1px solid #F0F0F0;
          border-radius: 5px;
          margin: 15px 0 0; }
          #header #header_bottom div #header_bottom_c div p:nth-child(1) input {
            width: 380px;
            height: 30px;
            border: 2px solid #4FB2F3;
            border-radius: 5px;
            margin: 7px 0 0 8px; }
          #header #header_bottom div #header_bottom_c div p:nth-child(1) a {
            background: #4DB0F3;
            display: inline-block;
            width: 120px;
            height: 32px;
            border-radius: 5px; }
            #header #header_bottom div #header_bottom_c div p:nth-child(1) a span {
              color: #fff;
              font-size: 16px;
              width: 76px;
              text-align: center;
              display: inline-block;
              height: 32px;
              float: left;
              line-height: 32px; }
          #header #header_bottom div #header_bottom_c div p:nth-child(2) {
            font-size: 12px;
            margin-left: 15px;
            margin-top: 10px;
            color: #B5B5B5; }
            #header #header_bottom div #header_bottom_c div p:nth-child(2) a {
              font-weight: bold;
              color: #1760BC;
              margin-right: 10px; }
            #header #header_bottom div #header_bottom_c div p:nth-child(2) span {
              color: #E2681F; }
      #header #header_bottom div #header_bottom_r {
        width: 210px;
        height: 103px;
        float: left; }
        #header #header_bottom div #header_bottom_r div {
          width: 210px;
          height: 74px;
          border: 1px solid #F0F0F0;
          border-radius: 5px;
          margin: 15px 0 0; }
          #header #header_bottom div #header_bottom_r div p {
            margin: 23px 0 0 10px;
            color: #6A6C9D;
            font-weight: bold; }
            #header #header_bottom div #header_bottom_r div p span {
              color: #0800F6; }

#mian #mian_nav {
  height: 34px;
  background: #2BA2E6;
  line-height: 34px; }
  #mian #mian_nav div h1 {
    float: left;
    margin-left: 13px;
    color: #fff;
    font-size: 14px;
    width: 218px;
    height: 34px; }
  #mian #mian_nav div #nav {
    float: left; }
    #mian #mian_nav div #nav li {
      float: left;
      height: 34px;
      width: 72px;
      color: #fff;
      font-size: 14px;
      text-align: center; }
    #mian #mian_nav div #nav li:nth-child(1):hover {
      background: #357CB4; }
    #mian #mian_nav div #nav li:nth-child(2):hover {
      background: #357CB4; }
    #mian #mian_nav div #nav li:nth-child(3):hover {
      background: #357CB4; }
    #mian #mian_nav div #nav li:nth-child(4):hover {
      background: #357CB4; }
#mian .mian_content {
  background: #F9F9F9; }
  #mian .mian_content .con_fenlei:after {
    display: block;
    content: '';
    clear: both;
    height: 0; }
  #mian .mian_content .con_fenlei .fenlei {
    background: #fff;
    width: 230px;
    height: 830px;
    margin-top: 3px;
    margin-right: 9px;
    box-shadow: -1px -2px 5px 1px #ccc,5px 5px 2px -4px #ccc;
    float: left;
    box-sizing: border-box;
    padding: 0 17px 0 20px; }
    #mian .mian_content .con_fenlei .fenlei li {
      border-bottom: 1px solid #D3ECFF;
      float: left;
      box-sizing: border-box;
      padding-bottom: 6px;
      width: 193px; }
      #mian .mian_content .con_fenlei .fenlei li h2 {
        width: 100%;
        margin: 5px 0;
        float: left; }
        #mian .mian_content .con_fenlei .fenlei li h2 a {
          font-size: 10px;
          color: #3E88B9;
          font-weight: bold;
          display: block;
          height: 10px;
          cursor: pointer; }
      #mian .mian_content .con_fenlei .fenlei li p {
        float: left; }
        #mian .mian_content .con_fenlei .fenlei li p span {
          color: #BABABA;
          display: inline-block;
          float: left;
          width: 13px;
          text-align: center;
          font-size: 12px; }
        #mian .mian_content .con_fenlei .fenlei li p a {
          font-size: 12px;
          color: #656565;
          text-align: center;
          display: inline-block;
          float: left;
          cursor: pointer; }
  #mian .mian_content .con_fenlei #tab1 .tu {
    box-shadow: -1px -2px 5px 1px #ccc,5px 5px 2px -4px #ccc;
    width: 740px;
    height: 426px;
    background: #F0F0F0;
    float: left;
    margin-top: 5px; }
    #mian .mian_content .con_fenlei #tab1 .tu #box1 {
      width: 740px;
      height: 280px;
      padding: 6px;
      box-sizing: border-box;
      background: #fff;
      position: relative; }
      #mian .mian_content .con_fenlei #tab1 .tu #box1 .imglist {
        overflow: hidden;
        position: relative;
        height: 266px;
        width: 728px; }
        #mian .mian_content .con_fenlei #tab1 .tu #box1 .imglist li {
          height: 266px;
          width: 728px;
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          line-height: 300px;
          font-size: 40px;
          color: red; }
          #mian .mian_content .con_fenlei #tab1 .tu #box1 .imglist li img {
            position: absolute;
            height: 266px;
            width: 728px;
            top: 0;
            left: 0; }
      #mian .mian_content .con_fenlei #tab1 .tu #box1 .light {
        position: absolute;
        right: 20px;
        bottom: 20px;
        text-align: center; }
        #mian .mian_content .con_fenlei #tab1 .tu #box1 .light span {
          display: inline-block;
          width: 29px;
          height: 29px;
          border-radius: 50%;
          background: #706563;
          text-align: center;
          line-height: 29px;
          cursor: pointer;
          color: #fcf5f5;
          font-size: 16px;
          font-weight: bold; }
        #mian .mian_content .con_fenlei #tab1 .tu #box1 .light .active {
          background: #C21B12; }
    #mian .mian_content .con_fenlei #tab1 .tu .tu2 {
      padding: 8px 0 0 2px;
      box-sizing: border-box; }
      #mian .mian_content .con_fenlei #tab1 .tu .tu2 div {
        position: relative;
        float: left;
        margin-right: 6px; }
        #mian .mian_content .con_fenlei #tab1 .tu .tu2 div i {
          display: inline-block;
          position: absolute;
          right: 0;
          bottom: 0; }
  #mian .mian_content .con_fenlei #tab1 .cuxiao {
    box-shadow: -1px -2px 5px 1px #ccc,5px 5px 2px -4px #ccc;
    width: 740px;
    height: 392px;
    background: #fff;
    float: left;
    margin-top: 9px; }
    #mian .mian_content .con_fenlei #tab1 .cuxiao div {
      height: 32px;
      line-height: 32px; }
      #mian .mian_content .con_fenlei #tab1 .cuxiao div h1 {
        float: left;
        width: 137px;
        height: 100%;
        text-indent: 2em;
        font-size: 14px;
        color: #2CA3E5;
        border-bottom: 2px solid #2CA3E5; }
      #mian .mian_content .con_fenlei #tab1 .cuxiao div .jishi {
        float: left;
        margin-left: 330px;
        font-size: 12px;
        color: #868686; }
        #mian .mian_content .con_fenlei #tab1 .cuxiao div .jishi span {
          color: #C83404;
          font-size: 16px;
          font-weight: bold; }
      #mian .mian_content .con_fenlei #tab1 .cuxiao div .huanye {
        float: right;
        cursor: pointer;
        margin-right: 12px;
        font-size: 12px;
        color: #868686; }
        #mian .mian_content .con_fenlei #tab1 .cuxiao div .huanye .acon {
          color: #C83404; }
    #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao_2 {
      border-top: 2px solid #E5E6E8;
      padding: 5px 0 0 15px;
      box-sizing: border-box; }
      #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao_2 #cuxiao_2 ul {
        height: 234px;
        width: 716px; }
        #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao_2 #cuxiao_2 ul li {
          float: left;
          height: 234px;
          width: 179px;
          padding: 15px;
          box-sizing: border-box; }
          #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao_2 #cuxiao_2 ul li img {
            width: 114px;
            height: 156px;
            text-align: center;
            margin-left: 20px; }
          #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao_2 #cuxiao_2 ul li p {
            color: #646464;
            font-size: 12px;
            text-align: center;
            line-height: 16px; }
          #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao_2 #cuxiao_2 ul li .price {
            color: #D23600;
            font-weight: bold; }
      #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao_2 #cuxiao_2 #f9 {
        display: none; }
      #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao_2 #cuxiao_2 #f10 {
        display: none; }
      #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao_2 #cuxiao_2 #zhezhao {
        height: 234px;
        width: 716px;
        display: none; }
    #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao3 {
      height: 123px;
      width: 740px;
      padding: 16px 0 0 24px; }
      #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao3 ul li {
        float: left;
        margin-right: 20px; }
        #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao3 ul li a {
          display: inline-block;
          padding: 3px;
          border: 1px solid #E2E2E2; }
          #mian .mian_content .con_fenlei #tab1 .cuxiao .cuxiao3 ul li a img {
            width: 213px;
            height: 86px; }
  #mian .mian_content .con_fenlei #tab2 {
    display: none; }
    #mian .mian_content .con_fenlei #tab2 .tu {
      box-shadow: -1px -2px 5px 1px #ccc,5px 5px 2px -4px #ccc;
      width: 490px;
      height: 280px;
      background: #F0F0F0;
      float: left;
      margin-top: 5px; }
      #mian .mian_content .con_fenlei #tab2 .tu #box2 {
        width: 490px;
        height: 280px;
        padding: 5px;
        box-sizing: border-box;
        background: #fff;
        position: relative; }
        #mian .mian_content .con_fenlei #tab2 .tu #box2 .imglist {
          overflow: hidden;
          position: relative;
          height: 270px;
          width: 480px; }
          #mian .mian_content .con_fenlei #tab2 .tu #box2 .imglist li {
            height: 270px;
            width: 480px;
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            line-height: 300px;
            font-size: 40px;
            color: red; }
            #mian .mian_content .con_fenlei #tab2 .tu #box2 .imglist li img {
              position: absolute;
              height: 270px;
              width: 480px;
              top: 0;
              left: 0; }
        #mian .mian_content .con_fenlei #tab2 .tu #box2 .light {
          position: absolute;
          right: 20px;
          bottom: 20px;
          text-align: center; }
          #mian .mian_content .con_fenlei #tab2 .tu #box2 .light span {
            display: inline-block;
            width: 29px;
            height: 29px;
            border-radius: 50%;
            background: #706563;
            text-align: center;
            line-height: 29px;
            cursor: pointer;
            color: #fcf5f5;
            font-size: 16px;
            font-weight: bold; }
          #mian .mian_content .con_fenlei #tab2 .tu #box2 .light .active {
            background: #C21B12; }
    #mian .mian_content .con_fenlei #tab2 .shuxun {
      width: 240px;
      height: 280px;
      padding: 8px 10px 10px 8px;
      box-sizing: border-box;
      float: left;
      margin: 5px;
      box-shadow: -1px -2px 5px 1px #ccc,5px 5px 2px -4px #ccc; }
      #mian .mian_content .con_fenlei #tab2 .shuxun h1 {
        color: orangered;
        font-size: 14px;
        font-weight: bolder;
        border-bottom: 1px dashed #ccc;
        height: 20px;
        line-height: 20px;
        padding-bottom: 8px; }
        #mian .mian_content .con_fenlei #tab2 .shuxun h1 i {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../img/33_r2_c2.png) no-repeat center center; }
      #mian .mian_content .con_fenlei #tab2 .shuxun div {
        width: 220px;
        height: 140px;
        padding: 16px;
        box-sizing: border-box;
        border-bottom: 1px dashed #ccc; }
        #mian .mian_content .con_fenlei #tab2 .shuxun div img {
          height: 75px;
          width: 55px;
          float: left; }
        #mian .mian_content .con_fenlei #tab2 .shuxun div ul {
          float: left;
          font-size: 10px;
          padding: 16px;
          box-sizing: border-box; }
          #mian .mian_content .con_fenlei #tab2 .shuxun div ul li {
            color: #64A823;
            margin-bottom: 10px; }
          #mian .mian_content .con_fenlei #tab2 .shuxun div ul span {
            font-weight: bold;
            color: red; }
      #mian .mian_content .con_fenlei #tab2 .shuxun > ul {
        margin-top: 10px;
        float: left;
        font-size: 10px; }
        #mian .mian_content .con_fenlei #tab2 .shuxun > ul li {
          color: #666666;
          line-height: 20px;
          margin-left: 13px;
          list-style: disc; }
    #mian .mian_content .con_fenlei #tab2 .cuxiao {
      box-shadow: -1px -2px 5px 1px #ccc,5px 5px 2px -4px #ccc;
      width: 740px;
      background: #fff;
      float: left;
      margin-top: 9px; }
      #mian .mian_content .con_fenlei #tab2 .cuxiao div {
        height: 32px;
        line-height: 32px; }
        #mian .mian_content .con_fenlei #tab2 .cuxiao div h1 {
          float: left;
          width: 137px;
          height: 100%;
          text-indent: 2em;
          font-size: 14px;
          color: #2CA3E5;
          border-bottom: 2px solid #2CA3E5; }
      #mian .mian_content .con_fenlei #tab2 .cuxiao .cuxiao_2 {
        border-top: 2px solid #E5E6E8;
        padding: 5px 0 0 15px;
        box-sizing: border-box; }
        #mian .mian_content .con_fenlei #tab2 .cuxiao .cuxiao_2 ul li {
          float: left;
          height: 234px;
          width: 179px;
          padding: 15px;
          margin: 10px 0;
          box-sizing: border-box; }
          #mian .mian_content .con_fenlei #tab2 .cuxiao .cuxiao_2 ul li img {
            width: 114px;
            height: 156px;
            text-align: center;
            margin-left: 20px; }
          #mian .mian_content .con_fenlei #tab2 .cuxiao .cuxiao_2 ul li p {
            color: #646464;
            font-size: 12px;
            text-align: center;
            line-height: 16px; }
          #mian .mian_content .con_fenlei #tab2 .cuxiao .cuxiao_2 ul li .price {
            color: #D23600;
            font-weight: bold; }
  #mian .mian_content .con_fenlei #tab3 {
    display: none; }
    #mian .mian_content .con_fenlei #tab3 .tu {
      box-shadow: -1px -2px 5px 1px #ccc,5px 5px 2px -4px #ccc;
      width: 490px;
      height: 280px;
      background: #F0F0F0;
      float: left;
      margin-top: 5px; }
      #mian .mian_content .con_fenlei #tab3 .tu #box3 {
        width: 490px;
        height: 280px;
        padding: 5px;
        box-sizing: border-box;
        background: #fff;
        position: relative; }
        #mian .mian_content .con_fenlei #tab3 .tu #box3 .imglist {
          overflow: hidden;
          position: relative;
          height: 270px;
          width: 480px; }
          #mian .mian_content .con_fenlei #tab3 .tu #box3 .imglist li {
            height: 270px;
            width: 480px;
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            line-height: 300px;
            font-size: 40px;
            color: red; }
            #mian .mian_content .con_fenlei #tab3 .tu #box3 .imglist li img {
              position: absolute;
              height: 270px;
              width: 480px;
              top: 0;
              left: 0; }
        #mian .mian_content .con_fenlei #tab3 .tu #box3 .light {
          position: absolute;
          right: 20px;
          bottom: 20px;
          text-align: center; }
          #mian .mian_content .con_fenlei #tab3 .tu #box3 .light span {
            display: inline-block;
            width: 29px;
            height: 29px;
            border-radius: 50%;
            background: #706563;
            text-align: center;
            line-height: 29px;
            cursor: pointer;
            color: #fcf5f5;
            font-size: 16px;
            font-weight: bold; }
          #mian .mian_content .con_fenlei #tab3 .tu #box3 .light .active {
            background: #C21B12; }
    #mian .mian_content .con_fenlei #tab3 .shuxun {
      width: 240px;
      height: 280px;
      padding: 8px 10px 10px 8px;
      box-sizing: border-box;
      float: left;
      margin: 5px;
      box-shadow: -1px -2px 5px 1px #ccc,5px 5px 2px -4px #ccc; }
      #mian .mian_content .con_fenlei #tab3 .shuxun h1 {
        color: orangered;
        font-size: 14px;
        font-weight: bolder;
        border-bottom: 1px dashed #ccc;
        height: 20px;
        line-height: 20px;
        padding-bottom: 8px; }
        #mian .mian_content .con_fenlei #tab3 .shuxun h1 i {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../img/33_r2_c2.png) no-repeat center center; }
      #mian .mian_content .con_fenlei #tab3 .shuxun div {
        width: 220px;
        height: 150px;
        padding: 16px;
        box-sizing: border-box;
        border-bottom: 1px dashed #ccc; }
        #mian .mian_content .con_fenlei #tab3 .shuxun div img {
          height: 81px;
          width: 209px;
          float: left; }
        #mian .mian_content .con_fenlei #tab3 .shuxun div ul {
          float: left;
          font-size: 10px;
          box-sizing: border-box; }
          #mian .mian_content .con_fenlei #tab3 .shuxun div ul li {
            color: #666666;
            line-height: 20px;
            margin-left: 13px;
            list-style: disc; }
      #mian .mian_content .con_fenlei #tab3 .shuxun > ul {
        margin-top: 5px;
        float: left;
        font-size: 10px;
        padding-left: 16px; }
        #mian .mian_content .con_fenlei #tab3 .shuxun > ul li {
          color: #666666;
          line-height: 20px;
          margin-left: 13px;
          list-style: disc; }
    #mian .mian_content .con_fenlei #tab3 .cuxiao {
      box-shadow: -1px -2px 5px 1px #ccc,5px 5px 2px -4px #ccc;
      width: 740px;
      background: #fff;
      float: left;
      margin-top: 9px; }
      #mian .mian_content .con_fenlei #tab3 .cuxiao div {
        height: 32px;
        line-height: 32px; }
        #mian .mian_content .con_fenlei #tab3 .cuxiao div h1 {
          float: left;
          width: 137px;
          height: 100%;
          text-indent: 2em;
          font-size: 14px;
          color: #2CA3E5;
          border-bottom: 2px solid #2CA3E5; }
      #mian .mian_content .con_fenlei #tab3 .cuxiao .cuxiao_2 {
        border-top: 2px solid #E5E6E8;
        padding: 5px 0 0 15px;
        box-sizing: border-box; }
        #mian .mian_content .con_fenlei #tab3 .cuxiao .cuxiao_2 ul li {
          float: left;
          height: 234px;
          width: 179px;
          padding: 15px;
          margin: 10px 0;
          box-sizing: border-box; }
          #mian .mian_content .con_fenlei #tab3 .cuxiao .cuxiao_2 ul li img {
            width: 114px;
            height: 156px;
            text-align: center;
            margin-left: 20px; }
          #mian .mian_content .con_fenlei #tab3 .cuxiao .cuxiao_2 ul li p {
            color: #646464;
            font-size: 12px;
            text-align: center;
            line-height: 16px; }
          #mian .mian_content .con_fenlei #tab3 .cuxiao .cuxiao_2 ul li .price {
            color: #D23600;
            font-weight: bold; }
  #mian .mian_content .con_fenlei #tab4 {
    display: none;
    font-size: 30px;
    font-weight: bold;
    line-height: 200px;
    text-align: center; }
  #mian .mian_content .xingshu {
    background: #fff;
    height: 530px;
    margin-top: 12px;
    box-shadow: -3px -3px 2px 0 #ccc,3px 2px 2px 0 #ccc; }
    #mian .mian_content .xingshu .xingshu1 {
      height: 30px;
      width: 100%;
      float: left;
      border-bottom: 2px solid #E5E6E8; }
      #mian .mian_content .xingshu .xingshu1 h2 {
        float: left;
        width: 137px;
        height: 30px;
        text-indent: 2em;
        display: inline-block;
        font-size: 14px;
        color: #2CA3E5;
        border-bottom: 2px solid #2CA3E5;
        line-height: 30px;
        box-sizing: border-box; }
      #mian .mian_content .xingshu .xingshu1 .h2_1 {
        margin-right: 600px; }
    #mian .mian_content .xingshu .xingshu2 {
      float: left;
      padding: 5px 0 0 15px;
      box-sizing: border-box;
      width: 730px;
      height: 496px; }
      #mian .mian_content .xingshu .xingshu2 ul li {
        float: left;
        height: 234px;
        width: 176px;
        padding: 15px;
        box-sizing: border-box; }
        #mian .mian_content .xingshu .xingshu2 ul li img {
          width: 114px;
          height: 156px;
          text-align: center;
          margin-left: 20px; }
        #mian .mian_content .xingshu .xingshu2 ul li p {
          color: #646464;
          font-size: 12px;
          text-align: center;
          line-height: 16px; }
        #mian .mian_content .xingshu .xingshu2 ul li .price {
          color: #D23600;
          font-weight: bold; }
    #mian .mian_content .xingshu .xingshu3 {
      border-left: 2px solid #E4E4E4;
      padding: 11px 0 0 9px;
      box-sizing: border-box;
      float: left;
      width: 250px;
      height: 496px; }
      #mian .mian_content .xingshu .xingshu3 img {
        margin-bottom: 5px; }
  #mian .mian_content .bianji {
    background: #fff;
    height: 530px;
    margin-top: 12px;
    box-shadow: -3px -3px 2px 0 #ccc,3px 2px 2px 0 #ccc; }
    #mian .mian_content .bianji .bianji1 {
      height: 30px;
      width: 100%;
      float: left;
      border-bottom: 2px solid #E5E6E8; }
      #mian .mian_content .bianji .bianji1 h2 {
        float: left;
        width: 137px;
        height: 30px;
        text-indent: 2em;
        display: inline-block;
        font-size: 14px;
        color: #2CA3E5;
        border-bottom: 2px solid #2CA3E5;
        line-height: 30px;
        box-sizing: border-box; }
      #mian .mian_content .bianji .bianji1 .h2_1 {
        margin-right: 600px; }
    #mian .mian_content .bianji .bianji2 {
      float: left;
      padding: 5px 0 0 15px;
      box-sizing: border-box;
      width: 730px;
      height: 496px; }
      #mian .mian_content .bianji .bianji2 ul li {
        float: left;
        height: 234px;
        width: 176px;
        padding: 15px;
        box-sizing: border-box; }
        #mian .mian_content .bianji .bianji2 ul li img {
          width: 114px;
          height: 156px;
          text-align: center;
          margin-left: 20px; }
        #mian .mian_content .bianji .bianji2 ul li p {
          color: #646464;
          font-size: 12px;
          text-align: center;
          line-height: 16px; }
        #mian .mian_content .bianji .bianji2 ul li .price {
          color: #D23600;
          font-weight: bold; }
    #mian .mian_content .bianji .bianji3 {
      cursor: pointer;
      padding: 11px 0 0 9px;
      box-sizing: border-box;
      float: left;
      width: 250px;
      height: 496px; }
      #mian .mian_content .bianji .bianji3 ol {
        float: left; }
        #mian .mian_content .bianji .bianji3 ol li {
          float: left;
          color: #045CA3;
          font-size: 12px;
          padding: 8px;
          width: 37px;
          height: 25px;
          line-height: 21px;
          text-align: center; }
        #mian .mian_content .bianji .bianji3 ol .acon1 {
          color: #333333;
          background: url("../img/hot-active.gif") no-repeat center center; }
      #mian .mian_content .bianji .bianji3 ul {
        border-left: 2px solid #E4E4E4;
        float: left; }
        #mian .mian_content .bianji .bianji3 ul li {
          font-size: 12px;
          color: #686868;
          height: 29px;
          width: 230px;
          margin-left: 12px;
          border-bottom: 1px solid #f4f4f4; }
          #mian .mian_content .bianji .bianji3 ul li span {
            display: inline-block;
            width: 13px;
            height: 13px;
            font-size: 8px;
            line-height: 13px;
            text-align: center;
            background: url("../img/number-bg.gif");
            margin: 0 12px; }
          #mian .mian_content .bianji .bianji3 ul li p {
            display: inline-block; }
  #mian .mian_content .tejia {
    background: #fff;
    height: 436px;
    margin-top: 12px;
    box-shadow: -3px -3px 2px 0 #ccc,3px 2px 2px 0 #ccc; }
    #mian .mian_content .tejia .tejia1 {
      height: 30px;
      width: 100%;
      float: left;
      border-bottom: 2px solid #E5E6E8; }
      #mian .mian_content .tejia .tejia1 h2 {
        float: left;
        width: 137px;
        height: 30px;
        text-indent: 2em;
        display: inline-block;
        font-size: 14px;
        color: #2CA3E5;
        border-bottom: 2px solid #2CA3E5;
        line-height: 30px;
        box-sizing: border-box; }
      #mian .mian_content .tejia .tejia1 .h2_1 {
        margin-right: 600px; }
    #mian .mian_content .tejia .tejia2 {
      float: left;
      padding: 5px 0 0 15px;
      box-sizing: border-box;
      width: 730px; }
      #mian .mian_content .tejia .tejia2 ul {
        height: 260px;
        width: 730px; }
        #mian .mian_content .tejia .tejia2 ul li {
          float: left;
          height: 234px;
          width: 176px;
          padding: 15px;
          box-sizing: border-box; }
          #mian .mian_content .tejia .tejia2 ul li img {
            width: 114px;
            height: 156px;
            text-align: center;
            margin-left: 20px; }
          #mian .mian_content .tejia .tejia2 ul li p {
            color: #646464;
            font-size: 12px;
            text-align: center;
            line-height: 16px; }
          #mian .mian_content .tejia .tejia2 ul li .price {
            color: #D23600;
            font-weight: bold; }
      #mian .mian_content .tejia .tejia2 div {
        margin-left: 20px;
        box-sizing: border-box;
        height: 150px;
        width: 730px; }
        #mian .mian_content .tejia .tejia2 div a {
          display: inline-block;
          padding: 3px;
          border: 1px solid #E4E4E4; }
          #mian .mian_content .tejia .tejia2 div a img {
            width: 214px;
            height: 108px; }
    #mian .mian_content .tejia .tejia3 {
      cursor: pointer;
      padding: 11px 0 0 9px;
      box-sizing: border-box;
      float: left;
      width: 250px; }
      #mian .mian_content .tejia .tejia3 ul {
        border-left: 2px solid #E4E4E4;
        float: left; }
        #mian .mian_content .tejia .tejia3 ul li {
          font-size: 12px;
          color: #686868;
          height: 29px;
          width: 230px;
          margin-left: 12px;
          border-bottom: 1px solid #f4f4f4; }
          #mian .mian_content .tejia .tejia3 ul li span {
            display: inline-block;
            width: 13px;
            height: 13px;
            font-size: 8px;
            line-height: 13px;
            text-align: center;
            background: url("../img/number-bg.gif");
            margin: 0 12px; }
          #mian .mian_content .tejia .tejia3 ul li p {
            display: inline-block; }
  #mian .mian_content .mingjia {
    background: #fff;
    height: 500px;
    margin-top: 12px;
    box-shadow: -3px -3px 2px 0 #ccc,3px 2px 2px 0 #ccc; }
    #mian .mian_content .mingjia .mingjia1 {
      height: 30px;
      width: 100%;
      float: left;
      border-bottom: 2px solid #E5E6E8; }
      #mian .mian_content .mingjia .mingjia1 h2 {
        float: left;
        width: 137px;
        height: 30px;
        text-indent: 2em;
        display: inline-block;
        font-size: 14px;
        color: #2CA3E5;
        border-bottom: 2px solid #2CA3E5;
        line-height: 30px;
        box-sizing: border-box; }
      #mian .mian_content .mingjia .mingjia1 .h2_1 {
        margin-right: 600px; }
    #mian .mian_content .mingjia .mingjia2 {
      float: left;
      padding: 15px 0 0 15px;
      box-sizing: border-box;
      width: 730px;
      height: 496px; }
      #mian .mian_content .mingjia .mingjia2 div div {
        height: 200px;
        width: 339px;
        float: left;
        background: #F5F5F5;
        margin-right: 13px;
        padding: 10px;
        box-sizing: border-box; }
        #mian .mian_content .mingjia .mingjia2 div div .mj .lqx1 {
          float: left; }
          #mian .mian_content .mingjia .mingjia2 div div .mj .lqx1 a {
            display: block;
            padding: 3px;
            border: 1px solid #DBDBDB; }
            #mian .mian_content .mingjia .mingjia2 div div .mj .lqx1 a img {
              height: 127px;
              width: 127px; }
        #mian .mian_content .mingjia .mingjia2 div div .mj .lqx2 {
          margin-left: 16px;
          float: left;
          height: 133px;
          width: 168px; }
          #mian .mian_content .mingjia .mingjia2 div div .mj .lqx2 h6 {
            font-size: 12px;
            color: #636363;
            margin: 8px 0 14px; }
          #mian .mian_content .mingjia .mingjia2 div div .mj .lqx2 p {
            color: #868686;
            font-size: 12px;
            line-height: 16px; }
        #mian .mian_content .mingjia .mingjia2 div div .mj p {
          font-size: 12px;
          color: #636363;
          margin-top: 10px;
          line-height: 36px;
          height: 20px; }
          #mian .mian_content .mingjia .mingjia2 div div .mj p span {
            display: inline-block;
            width: 60px;
            height: 36px;
            line-height: 36px; }
          #mian .mian_content .mingjia .mingjia2 div div .mj p a {
            display: inline-block;
            width: 60px;
            height: 36px;
            margin: 0 5px;
            line-height: 36px;
            overflow: hidden; }
      #mian .mian_content .mingjia .mingjia2 .zhouping li {
        float: left;
        height: 234px;
        width: 176px;
        padding: 15px;
        box-sizing: border-box; }
        #mian .mian_content .mingjia .mingjia2 .zhouping li img {
          width: 114px;
          height: 156px;
          text-align: center;
          margin-left: 20px; }
        #mian .mian_content .mingjia .mingjia2 .zhouping li p {
          color: #646464;
          font-size: 12px;
          text-align: center;
          line-height: 16px; }
        #mian .mian_content .mingjia .mingjia2 .zhouping li .price {
          color: #D23600;
          font-weight: bold; }
    #mian .mian_content .mingjia .mingjia3 {
      padding: 11px 0 0 9px;
      box-sizing: border-box;
      float: left;
      width: 250px;
      height: 496px; }
      #mian .mian_content .mingjia .mingjia3 div {
        background: #E1F1F0;
        padding: 10px;
        margin: 0 2px 10px 0; }
        #mian .mian_content .mingjia .mingjia3 div img {
          width: 219px;
          height: 187px; }
  #mian .mian_content .rexiao {
    background: #fff;
    height: 530px;
    margin-top: 12px;
    box-shadow: -3px -3px 2px 0 #ccc,3px 2px 2px 0 #ccc; }
    #mian .mian_content .rexiao .rexiao1 {
      height: 30px;
      width: 100%;
      float: left;
      border-bottom: 2px solid #E5E6E8; }
      #mian .mian_content .rexiao .rexiao1 h2 {
        float: left;
        width: 137px;
        height: 30px;
        text-indent: 2em;
        display: inline-block;
        font-size: 14px;
        color: #2CA3E5;
        border-bottom: 2px solid #2CA3E5;
        line-height: 30px;
        box-sizing: border-box; }
      #mian .mian_content .rexiao .rexiao1 .h2_1 {
        margin-right: 600px; }
    #mian .mian_content .rexiao .rexiao2 {
      float: left;
      padding: 5px 0 0 15px;
      box-sizing: border-box;
      width: 730px;
      height: 496px; }
      #mian .mian_content .rexiao .rexiao2 ul li {
        float: left;
        height: 234px;
        width: 176px;
        padding: 15px;
        box-sizing: border-box; }
        #mian .mian_content .rexiao .rexiao2 ul li img {
          width: 114px;
          height: 156px;
          text-align: center;
          margin-left: 20px; }
        #mian .mian_content .rexiao .rexiao2 ul li p {
          color: #646464;
          font-size: 12px;
          text-align: center;
          line-height: 16px; }
        #mian .mian_content .rexiao .rexiao2 ul li .price {
          color: #D23600;
          font-weight: bold; }
    #mian .mian_content .rexiao .rexiao3 {
      cursor: pointer;
      padding: 11px 0 0 9px;
      box-sizing: border-box;
      float: left;
      width: 250px;
      height: 496px; }
      #mian .mian_content .rexiao .rexiao3 ul {
        border-left: 2px solid #E4E4E4;
        float: left; }
        #mian .mian_content .rexiao .rexiao3 ul li {
          font-size: 12px;
          color: #686868;
          height: 29px;
          width: 230px;
          margin-left: 12px;
          border-bottom: 1px solid #f4f4f4; }
          #mian .mian_content .rexiao .rexiao3 ul li span {
            display: inline-block;
            width: 13px;
            height: 13px;
            font-size: 8px;
            line-height: 13px;
            text-align: center;
            background: url("../img/number-bg.gif");
            margin: 0 12px; }
          #mian .mian_content .rexiao .rexiao3 ul li p {
            display: inline-block; }

#linkman {
  background: #F9F9F9; }
  #linkman #linkman_top {
    box-shadow: -3px -3px 2px 0 #ccc,3px 2px 2px 0 #ccc;
    height: 180px;
    background: #fff;
    box-sizing: border-box;
    padding: 8px 0 0 40px;
    margin-top: 15px; }
    #linkman #linkman_top > div:nth-of-type(2) {
      border-left: 1px dashed #666666;
      padding: 10px 0 0 15px;
      box-sizing: border-box; }
    #linkman #linkman_top > div > div {
      float: left;
      width: 120px; }
      #linkman #linkman_top > div > div > h3 {
        font-size: 14px;
        font-weight: bold;
        color: #666666; }
      #linkman #linkman_top > div > div > a {
        display: inline-block;
        font-size: 12px;
        width: 120px;
        color: #666666; }
  #linkman #linkman_bottom {
    width: 100%;
    background: #2BA2E6;
    height: 35px; }
    #linkman #linkman_bottom span {
      color: #fff;
      font-size: 14px;
      margin-left: 85px;
      line-height: 35px;
      float: left; }

#bottom {
  color: #333333;
  font-size: 12px;
  height: 220px;
  text-align: center; }
  #bottom > div {
    height: 46px;
    text-align: center; }
    #bottom > div > p {
      text-align: center;
      float: left;
      margin-left: 350px; }
      #bottom > div > p a {
        line-height: 46px;
        color: #333333;
        font-size: 12px; }
  #bottom > p {
    margin-top: 20px; }
  #bottom > a {
    display: inline-block;
    margin-top: 20px; }

/*# sourceMappingURL=index.css.map */
